<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
        <title>My First Webpage!</title>
    </head>
    <body>
    <header>
        <h1>Web Site Name</h1>
    </header>
        <!--old life color pallete / use Quackit-->
    <hr><!--Navigation area-->
        
        <div class="topnav">
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    <!--Search Bar area-->
    <input type="text" placeholder="Search Here">
    <a href="">Explore</a>
    <a href="">Log In</a>
    <a href="">Sign In</a>
        </div>
        
    <br>
    <hr>
        
    <nav>  <!--Links to POPULAR WORKS(open & owned)/NEW WORKS
(CONSTANT
UPDATE) think bandcamp-->  
    <aside></aside>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
    </nav>
        
        <br>
        <hr>
        <!--Area for browsing -->
        <article></article>
        <section></section>
        <div><a></a></div>
        <div><a></a></div>
        <div><a></a></div>
        <div><a></a></div>
        <div><a></a></div>
        <div><a></a></div>
        <p>This is my website</p>
        
        <!-- use table of seperate divs for center area
        <article>
         <table>
          <tbody>
            <tr><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td></tr>
          </tbody>
         </table>
        </article>
        <colgroup><col></col></colgroup>
        -->
        <br>
        <hr>
        
    <footer>
    <!--Credits area for explaination of website-->
    
    
    </footer>
    
    </body>
</html>